@{
    ViewBag.Title = "About";


}

<!-- =========================
        START PAGE TITLE SECTION
      ============================== -->
<div class="page-title-area service-area-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page-title-left">
                    <h2>Our Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                1.1. Mission Statement
                Ovations Umbrella has supported UK based contractor workers engaged on agency assignments, by providing PAYE and self-employed payroll options that suits every level of earnings.
                Our services offer a one-stop shop to contractors in various industry sector for both blue and white collar disciplines, but also compliment agencies by ensuring a hassle-free and efficient pay run with minimal fuss.
                We strive to do our best and therefore we adapt our services to meet the ever evolving world of contracting. Whether you are new to contracting or have years’ worth of experience, we can provide a service that is well befitting.
                It is in our best interest to do your business development for free to help grow your business which in turn will grow ours.  Accordingly please give us to opportunity to come in and meet you to explain why it makes perfect sense to appoint Ovations Umbrella.
                Accreditation
                We are delighted to be accredited by Professional Passport. This means our processes, contracts and policies are regularly and independently audited by an industry expert, ensuring that we are a fit and proper business.
                Apart from holding high values professional indemnity insurance our process, and contracts are also backed by Professional Passport indemnity of £5 Million which further strengthen belief in our robust fully compliant Umbrella Tax solutions.
            </div>
        </div>
    </div>
</div>
<!-- =========================
  END PAGE TITLE SECTION
============================== -->
