@{
    ViewBag.Title = "Contact";
}

    <div class="page-title-area service-area-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title-left">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Registering with Ovations Umbrella could not be easier, we require you to follow these 3 easy steps:
                    Step 1: Sign and complete the registration form.
                    Step 2: Sign and return a copy of our contract and keep one for your records.
                    Step 3: Provide Proof of Identification e.g. a clear copy of passport. (Where you do not have a passport please contact our offices to confirm what ID is acceptable).
                    Once we have received these documents your account manager will contact you and provide portal login details to upload contract and any other supporting documents. We  can answer any questions you have, including how we will get you paid, on time, everytime.
                    Your details

                    *Title         
                    *First name

                    I have another name I would prefer to be known as
                    Middle name
                    *Surname
                    Gender             
                    *Marital status 
                    *Date of birth    dd/mm/yyyy
                    Your contact information
                    *Email address
                    *Mobile contact number
                    Home contact number
                    Best time to contact.
                    At least one contact number must be supplied.  
                    *Your address
                    *Postcode
                    Where you heard about us
                    Important - No obligation, no commitment and totally confidential.

                </div>
            </div>
        </div>
    </div>