@{
    ViewBag.Title = "Contact";
}


    <div class="page-title-area service-area-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title-left">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Comprehensive Support for Recruitment Agencies
                    Ovations Umbrella work in partnership with recruitment agencies to ensure that their candidates are paid correctly and compliantly, whilst receiving first class customer service.
                    Ovations Umbrella work with a range of UK recruitment agencies of various sizes for our Ovations Umbrella and Joint Employment services. We understand that every agency is different and has its own requirements; which is why we deliver bespoke solutions to our clients, with our core focus not only being you, but your contractors as well.
                    To find out more about Ovations Umbrella and how we can work in partnership with you please call us on 01582344044 or complete our contact form at the bottom of this page, or via the Contact page
                </div>
            </div>
        </div>
    </div>