@{
    ViewBag.Title = "Contact";
}


    <div class="page-title-area service-area-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title-left">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    What is an umbrella company?
                    What is an umbrella company? Umbrella companies are businesses that take on agency workers and other types of temporary workers as their own employees with continuous contracts of employment. Their sole purpose is to employ people like you (often called ‘contractors’). To meet the rules to be a ‘continuous’ employment, the umbrella company must usually pay you for 336 hours of work per year at the minimum wage.

                    Q1: Why Umbrella Companies
                    If you found work through an agency, they would normally deal with your pay themselves. However these days, agencies prefer not to do this as it saves them time and money and means they can concentrate on matching workers with available work. As such, they usually suggest that people use an umbrella company. It isn't against the law for them to do this, although when they pass you over to an umbrella company they should make sure they also hand over sufficient funds to cover all the employment costs that the umbrella company will now have. This should include an amount to cover the umbrella company charge (more on this later). Because the umbrella company becomes your employer, they will deal with your pay and other employer obligations instead of the agency. This includes paying you your wages with tax and National Insurance (NIC) deducted as required by the Pay As You Earn (PAYE) system.

                    Q3: Agency Worker Regulations
                    The Agency Workers Regulations (AWR) mean that agency workers should receive equal treatment compared to the end client’s own employees. Umbrella company employees are still classed as agency workers for the purposes of AWR. For example, you should be allowed to use any shared facilities (e.g. a staff canteen or childcare) from the first day you work in an assignment location. After 12 weeks’ continuous employment in the same role, you should get the same terms and conditions as the end client’s own employees, including pay and any annual leave above the minimum 28 days required by law (more on this later). There are rules in place which mean that your assignment can’t just be stopped as you get near 12 weeks of continuous work. You can find out more about AWR on the ACAS website: http://www.acas.org.uk/index.aspx?articleid=1873 Usually you will be given a ‘matched pay’ employment contract by an umbrella company which provides for equal treatment once you’ve been on assignment for 12 weeks (in reality lower-paid workers tend to be on similar packages across the board so you are unlikely to see much difference to your position because of AWR). Some umbrella companies use a special type of employment contract which means that you give up your right to equal pay after 12 weeks but you may get some pay between assignments instead. Sometimes there are problems with these ‘pay between assignments’ contracts as explained by Citizens Advice: https://www.citizensadvice.org.uk/ work/rights-at-work/agency-workers/problems-with-pay-between-assignment-contracts/

                    Does using an umbrella company free up my time?
                    Using a compliant umbrella company will mean that you are an employee and therefore there will be minimal administration. Simply fill in your timesheet online and the umbrella company will do all of the rest.
                    Will I still need insurance?
                    As your employer, the umbrella company will need to ensure that you are covered by their insurances. At Ovations Umbrella, we provide employees with Professional Indemnity, Employers' Liability and Public Liability Insurance.
                    I am Affected by IR35
                    If you currently work as a PSC or Limited Company Director and your current of Upcoming contract seems to be Inside IR35 there is no need to worry. Ovations umbrella could be perfect solution for your needs. Save tax by virtue of Private pension and salary sacrifice. Just another way we’re with you all the way.
                    Is Ovations Umbrella complaint
                    Yes we are fully complaint and are accredited by Professional Passport. This means our processes, contracts and policies are regularly and independently audited by an industry expert, ensuring that we are a fit and proper business.
                    Can I claim additional business expenses and offset all my expenses against my tax?
                    If you work is outside Supervision, Direction, Control then you may be able to offset certain expenses. Alternatively, you cans submit your expenses at the end of year (if applicable) using a P87 form or through self-Assessment.
                    How and where do I submit my time sheets?
                    Unless advised or otherwise, please submit your time sheet directly to your recruitment agency.
                    What if I work through more than one agency?
                    We can payroll you through multiple agencies, being paid through one advisor has a Tax advantage as we would hold Primary tax code.
                    Will I receive payslips
                    Your payslip will be emailed as standard. You will have access to our portal and can download all payslip, p45 or P60 forms any day any time.

                    Can I claim statutory payments and Holiday Pay
                    When employed by Ovations umbrella you may be entitled to certain statutory payment. Please contact us should you require more information regarding entitlements. We recommend and follow 	practice of retaining portion of your earning as holiday pay and pay you the actual time when you are on holiday. It is illegal to pay holiday pay ongoing basis (a system known as ‘rolled up’ holiday pay). All your accrued holiday pay is included in payment summary that give you clear information about your entitlement and amount availability.


                    What notice I need do I need to give for holiday pay ?
                    We need one month notice, however we are happy to accept a shorter notice in case holiday taken due to family emergency. The money paid is subject to deductions and paid holiday must be requested before or end of current Tax year, which is also end of your holiday year. Entitlement is to be paid leave is accrued in that year.

                </div>
            </div>
        </div>
    </div>