@{
    ViewBag.Title = "Contact";
}

    <div class="page-title-area service-area-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title-left">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    How Ovations Umbrella Works
                    Umbrella companies can be confusing, particularly for lower-paid workers. Often they aren’t very transparent about what they do, but there is also a lot of misinformation which gives them a bad name – even the ones that take the welfare of their workers very seriously. Here we give you some clear and independent information to help you understand more about working through Ovations umbrella.
                    Employment Rights
                    You are an employee of the umbrella company and so have the same rights as any other employed person. These include the right to be paid the minimum wage, the right to paid holiday (more on this later), the right to be auto-enrolled into a pension (if you meet the earnings threshold) and to statutory benefits such as sick pay and maternity pay (provided you meet the relevant criteria). You can find more information about employee rights on GOV.UK: https://www.gov.uk/employment-status/employee
                    How My Pay is calculated
                    This is where things can get quite complex – so much so, that people often think they are being ’scammed’ by an umbrella company when they get their first payslip. Below we have tried to simplify the process.
                    If you are paid by an agency directly, then the rate they offer you (commonly known as the PAYE rate) is the amount, before your tax and NIC, that you should receive. So if you have a PAYE rate of say, £9.50 per hour and work 35 hours you will be paid £9.50 x 35 = £332.50 as gross taxable pay. You will then have your PAYE tax and employee NIC deducted from this, in the same way as all other employees. But £9.50 is not the true cost to the agency of paying you. In addition, they may have to pay things like employers’ NIC, holiday pay, apprenticeship levy and contributions into a workplace pension. As such, the cost to them of taking you on may be something more like £12 an hour. But you aren’t entitled to be paid the full amount of £12 —you are only entitled to the £9.50. Hopefully you are familiar with this concept from any other employments you have been in. When an agency hands you over to an umbrella company, they should pass the umbrella company the full costs of your employment – i.e. the £12 an hour (from the funds they themselves have received from the end client). This is commonly known as the limited company rate. They may explain to you that you can get £9.50 an hour if you are paid through them, or £12 an hour if you are paid through an umbrella company. The ‘headline’ rate of £12 an hour can sound like a great deal if the agency do not properly explain to you that it is intended to cover the total costs of employment and is not the amount you are going to personally earn! As such it can be very tempting to go with the £12 an hour – but you may then get a shock when you get your payslip and see things like employer NIC being deducted. The bottom line however is that the limited company rate should be sufficiently more than the PAYE rate, so that once all the additional employment costs have been deducted, and the umbrella company charge has been deducted, you are in no worse a position than if you had just received the PAYE rate in the first place.
                    Please Request for your Illustration with the link and Our support team will contact you with exact breakdown to clarify any doubts. (Please note we will require more info like tax code. Previous earning during financial year, student loan, pension options to give you exact and accurate figures.)

                    How will my holiday pay be calculated?
                    The starting point is that full time workers have the right to a minimum of 28 days’ paid leave including bank holidays. If you work on a casual basis or very irregular hours, your holiday entitlement will probably be calculated as a percentage of your hours. 28 days is equivalent to 12.07% hours. Example: Mr X works 17 hours one week, 20 hours the next week, and then 15 hours for next two weeks. After a month of working, she has built up entitlement to approximately 8 hours of paid leave (67 hours x 12.07%). Many umbrella companies offer to include an amount for holiday pay in your wages on an ongoing basis (a system known as ‘rolled up’ holiday pay). Strictly this is incorrect, as the law says that it should be paid out at the time annual leave is taken, but many workers prefer the ’rolled up’ system. If you are not on a rolled up system and you leave the employment having taken fewer holidays than you are entitled to, you should be paid in lieu of the untaken holiday. So carrying on Mr X’s example, if his employment ended before he could take the leave he had built up, he would be entitled to be paid in place of taking the leave. If he usually earned £8 an hour, he would be entitled to £64 (holiday pay is calculated based on your average pay rate in the preceding 12 weeks including bonuses, overtime, commission where relevant). There is lots of information about holiday pay on the GOV.UK website: https://www.gov.uk/holiday-entitlement-rights.

                    Travel expenses:
                    It used to be the case that if you worked though an umbrella company then you could claim tax and NIC relief on the costs of getting to and from your assignment locations. However this was essentially due to a legal loophole, that since April 2016 has been closed to anyone working under ‘supervision, direction or control’..
                    With Ovations Umbrella you can only claim chargeable Expenses.. i.e funds received from the agency to pay you out as agreed, this is to be paid to you on top of your normal pay, This is free of your tax and NIC. Contractors can file for Billable expenses through self-assessment, However Ovations Umbrella will not provide any assistance with such filling and will not be responsible for any claims you may make. Please take advice and help of qualified accountant in respect of this matter. For details information Please read employers Handbook.

                </div>
            </div>
        </div>
    </div>