@{
    ViewBag.Title = "Home Page";
}

<!-- START REVOLUTION SLIDER 5.0 -->
<div id="rev_slider_2_1_wrapper" class="rev_slider_wrapper fullscreen-container">
    <div id="slider1" class="rev_slider fullscreenbanner" data-version="5.2.1">
        <ul>
            <!-- SLIDE  -->
            <li data-index="rs-28" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Home5" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <img src="~/images/rev-slider6.jpg" alt="" title="bg-slider5" width="1600" height="800" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <div class="tp-caption tp-resizeme ft-droid-b-i"
                     id="slide-28-layer-1"
                     data-x="center"
                     data-hoffset=""
                     data-y="322"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:500;e:easeOutCirc;"
                     data-transform_out="y:-50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;"
                     data-mask_in="x:0px;y:0px;"
                     data-start="700"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 400; color: rgba(229, 228, 228, 1.00);">
                    Fully Compliant Umbrella Solution with Contractor Care Centric Approach
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-28-layer-2"
                     data-x="center"
                     data-hoffset="1"
                     data-y="365"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:[100%];rZ:0deg;sX:0.7;sY:0.7;s:300;e:Power3.easeInOut;s:300;e:Power3.easeInOut;"
                     data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 6; white-space: nowrap; font-size: 55px; line-height: 60px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Raleway;">
                    <div class="text-center">We Have Years of Experience<br /> in Financial Advice</div>
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-28-layer-6"
                     data-x="center"
                     data-hoffset=""
                     data-y="527"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;s:300;"
                     data-start="1800"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                    <a href="#" class="btn rev-slider-btn rev-slider-btn-2">Explore Our Services</a>
                </div>
            </li>

            <li data-index="rs-26" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Home3" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <img src="~/images/rev-slider4.jpg" alt="" title="bg-slider3" width="1600" height="800" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <div class="tp-caption tp-resizeme"
                     id="slide-26-layer-7"
                     data-x="center"
                     data-hoffset="1"
                     data-y="286"
                     data-width="['none','none','none','none']"
                     data-height="['none','none','none','none']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:500;e:easeOutCirc;"
                     data-transform_out="y:-50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-start="700"
                     data-responsive_offset="on" style="z-index: 5;">
                    <img src="~/images/rev-icon-4.png" alt="" data-ww="70px" data-hh="70px" data-no-retina>
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-26-layer-8"
                     data-x="center"
                     data-hoffset="-100"
                     data-y="286"
                     data-width="['none','none','none','none']"
                     data-height="['none','none','none','none']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:600;e:easeInCirc;"
                     data-transform_out="x:-50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-start="900"
                     data-responsive_offset="on"
                     style="z-index: 6;">
                    <img src="~/images/rev-icon-5.png" alt="" data-ww="70px" data-hh="70px" data-no-retina>
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-26-layer-9"
                     data-x="center"
                     data-hoffset="100"
                     data-y="285"
                     data-width="['none','none','none','none']"
                     data-height="['none','none','none','none']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:600;e:easeInCirc;"
                     data-transform_out="x:50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-start="900"
                     data-responsive_offset="on" style="z-index: 7;">
                    <img src="~/images/rev-icon-6.png" alt="" data-ww="70px" data-hh="70px" data-no-retina>
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-26-layer-2"
                     data-x="center"
                     data-hoffset=""
                     data-y="404"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:50px;opacity:0;s:500;e:easeOutCubic;"
                     data-transform_out="y:50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;" data-start="1200"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 8; white-space: nowrap; font-size: 55px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Raleway;">
                    Free & Impartial Money Advice
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-26-layer-3"
                     data-x="center"
                     data-hoffset=""
                     data-y="475"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:50px;opacity:0;s:500;e:easeOutCirc;"
                     data-transform_out="y:50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;"
                     data-start="1500"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 9; white-space: nowrap; font-size: 17px; line-height: 26px; font-weight: 400; color: rgba(229, 228, 228, 1.00);font-family:Raleway;">
                    <div class="text-center">Experts has years of experience in Mortgage and Financial Advice and in the whole of<br /> that time we have constantly striven to stay ahead of our competitors.</div>
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-26-layer-5"
                     data-x="center"
                     data-hoffset=""
                     data-y="564"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:50px;opacity:0;s:500;e:easeOutCirc;"
                     data-transform_out="y:-50px;opacity:0;s:300;s:300;"
                     data-start="1800"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 10; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                    <a href="#" class="btn rev-slider-btn rev-slider-btn-2">More About Us</a>
                </div>
            </li>

            <li data-index="rs-27" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Home4" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                <img src="~/images/rev-slider5.jpg" alt="" title="bg-slider4" width="1600" height="800" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <div class="tp-caption tp-resizeme ft-droid-b-i"
                     id="slide-27-layer-1"
                     data-x="center"
                     data-hoffset=""
                     data-y="320"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:500;e:easeOutCirc;"
                     data-transform_out="y:-50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;" data-start="700" data-splitin="none"
                     data-splitout="none" data-responsive_offset="on"
                     style="z-index: 5; white-space: nowrap; font-size: 17px; line-height: 17px; font-weight: 400; color: rgba(229, 228, 228, 1.00);">
                    Got A Question?
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-27-layer-2"
                     data-x="center"
                     data-hoffset=""
                     data-y="368"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1200;e:Power3.easeInOut;"
                     data-transform_out="y:50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;"
                     data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                     data-start="900"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 6; white-space: nowrap; font-size: 55px; line-height: 50px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Raleway;">
                    Our Advisers Are Here To Help You !
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-27-layer-3"
                     data-x="center"
                     data-hoffset=""
                     data-y="437"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:50px;opacity:0;s:500;e:easeOutCirc;"
                     data-transform_out="y:50px;opacity:0;s:300;e:easeOutCirc;s:300;e:easeOutCirc;"
                     data-start="2000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 7; white-space: nowrap; font-size: 17px; line-height: 26px; font-weight: 400; color: rgba(229, 228, 228, 1.00);font-family:Raleway;">
                    <div class="text-center">Free and impartial money advice, set up by government, advice and guides to help<br /> improve your finances & tools to keep tracking your money.</div>
                </div>
                <div class="tp-caption tp-resizeme"
                     id="slide-27-layer-6"
                     data-x="center"
                     data-hoffset=""
                     data-y="525"
                     data-width="['auto']"
                     data-height="['auto']"
                     data-transform_idle="o:1;"
                     data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
                     data-transform_out="opacity:0;s:300;s:300;"
                     data-start="2300"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on"
                     style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);">
                    <a href="#" class="btn rev-slider-btn rev-slider-btn-2">More About Us</a>
                </div>

            </li>

        </ul>
    </div>
</div>
<!-- END REVOLUTION SLIDER 5.0 -->
