@{
    ViewBag.Title = "Contact";
}

    <div class="page-title-area service-area-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="page-title-left">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Working through Ovations Umbrella offers an ideal first step into contracting, without all the hassle and responsibility of paperwork.
                    We’ll handle your administration for you, calculating your tax and NI contributions and making payments to HMRC. At the same time, you’ll be paid swiftly and accurately, and there will always be someone available to talk to if you have any queries or concerns.

                    Same Day Contract: Ovations Umbrella will issue all employees employment contract and assignment schedule same day of receiving their contract details from their clients after successfully completing right to work checks.
                    Same-day Faster Payments with salary advances subject to conditions in all other cases will pay all your contractors by COB Friday.Reimbursement of approved billable expenses
                    Signed Contract: All contracts will be provided signed employment contract and staff hand book to maintain complete transparency
                    Basic pay against approved timesheets
                    Payment Advice : Employees will receive Itemised payslip and breakdown summary with every payment made.
                    Statutory pay
                    Personal consultant to respond immediately to any queries
                    Professional indemnity insurance
                    Dedicated consultant
                    Holiday pay
                    Work Place pension
                    Private Pension and Salary Sacrifice options to save Tax
                    Online contractor web portal



                </div>
            </div>
        </div>
    </div>